/* Fundo preto */
body {
  background-color: #111; /* Um preto mais escuro */
  color: #fff;
  border-radius: 10px; /* Cantos arredondados */
  padding: 20px;
  margin: 0;
}

/* Estilo do título */
.text h1 {
  text-align: center;
}

/* Estilo do formulário */
form {
  margin-top: 20px; /* Adiciona margem na parte superior do formulário */
}

form input[type="text"],
form textarea,
form input[type="number"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  background-color: #222; /* Um cinza mais escuro */
  color: #fff;
  border: 1px solid #444; /* Um cinza escuro para as bordas dos campos */
}

form input[type="file"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  background-color: #222; /* Um cinza mais escuro */
  color: #fff;
  border: 1px solid #444; /* Um cinza escuro para as bordas dos campos */
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

/* Estilo do checkbox */
form input[type="checkbox"] {
  margin-top: 10px;
}
