/* Reset de estilos */
html, body {
  margin: 0;
  padding: 0;
}

/* Fundo preto */
#background {
  background-color: #000;
  color: #fff;
}





/* Estilo das linhas pares e ímpares da tabela */
.container tr:nth-child(even) {
  background-color: #333;
}

.container tr:nth-child(odd) {
  background-color: #444;
}

/* Estilo da imagem */
.container img {
  max-width: 100px;
  max-height: 100px;
}

/* Estilo do texto "Nenhum produto encontrado." */
.container td[colspan="5"] {
  text-align: center;
  background-color: #444;
}
